.header {
    border: 1px solid #ececec;
    background-color: $filter-secondarycolor;

    &-contact-list {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        margin-left: 318px;
        align-items: center;

        @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            flex-direction: column;
            align-content: center;
        }

        &__item {
            margin-right: 30px;
            width: 161px;
        }

        &__item:last-child {
            margin-right: 0px;
        }

        &__item1 {
            width: 142px;
        }

        &__link {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: $secondary-text;
            display: inline-flex;
            align-items: center;
            text-decoration: none;
        }

        &__icon {
            margin-right: 10px;
            fill: currentColor;
            transition: color $wait $caubic;
        }

        &__icon:hover,
        &__icon:hover:focus,
        &__link:hover,
        &__link:focus {
            color: $accent-color;
        }
    }

    &-nav {
        display: flex;
        align-items: center;

        &__list {
            display: flex;

            @media screen and (max-width: 767px) {
                display: none;
            }

            &__link {
                display: block;
                padding-top: 32px;
                padding-bottom: 32px;

                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                color: $primary-text;

                position: relative;

                transition: $wait $caubic;

                &:hover,
                &:focus {
                    color: $accent-color;

                    &--current {
                        color: $accent-color;

                        &::after {
                            position: absolute;

                            display: block;
                            content: "";
                            width: 100%;
                            height: 4px;
                            border-radius: 2px;
                            bottom: -1px;

                            background-color: $accent-color;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;

        &-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 15px;
        }

        @media screen and (max-width: 767px) {
            max-width: 767px;
        }
    }
}

.logo {
    align-items: center;
    text-align: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-decoration: none;

    &-white {
        color: $filter-secondarycolor;
    }

    &-black {
        color: $primary-text;
    }

    &-web {
        color: $accent-color;
    }
}

.mobile-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}